
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #e0e0e0;

}
 
a, li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    

}

.logo-header img{
    width: 50px;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;

}


.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin-right: 1.5rem;
}
.nav-menu a:hover{
color: grey;
}

.nav-menu li:last-child{
background-color: rgba(73, 20, 20, 0.082);
border: 2px solid black;
padding: 0.25rem 0.75rem;
border-radius: 0.2rem;
}
.firstview h2{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    
}

.firstview{
    text-align: center;
}
.img3{
    display: flex;
    width: 950px;
height:500px;
justify-content: center;
align-items: center;
padding: 40px;
margin: auto;

}


.products{
    padding: 50px 0;
    text-align: center;

}
.products h1 {
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    
}
.products-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.product {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 250px;
    height: 370px;
    margin-bottom: 20px;
}

.product h3{
    font-size: 20px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio{
    font-size: 16px;
    color: black;
margin-bottom: 15px;
}

.precio{
    font-weight: 800;
}

.seleccionar-btn{
    display: inline-block;
    padding: 7px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;

}
.nosotros h2{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    
}
.imagen-nosotros{
    width: 2900px;
    height: 300px;
    margin-left: 180px;
    
}


.contenedor-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.text-nosotros{
    align-items: center;
    
}
.nosotros{
    text-align: center;
}

.contact h2{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    
}


.imagen-contact{
    width: 1000px;
    height: 300px;
    margin-left: 80px;
    
}
.contenedor-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    
   
}
.text-contact{
    align-items: right;
    
    
}
.contact{
    text-align: center;
}
.container-foot{
    max-width: 1200px;
    margin: 0 auto;

}

.footer{
    background-color: white;
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a {
       font-size: 18px;
       text-decoration: none;
       color: black;
       display: block;
       margin-bottom: 15px;
       transition: all .3s ease;
}

.footer-links ul li a:hover {
       color: gray;
       padding-left: 6px;
}



